#topbar {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem 1rem;
    gap: 1vw;
}

#crucifix-icon {
    max-height: 3rem;
}

#menu-icon {
    max-height: 2rem;
}

#title {
    justify-content: center;
    flex: 1;
}

#title h1 {
    font-size: 2rem;
}

/* Mobile */
@media (min-width: 769px) {
    #topbar {
        display: none;
    }
}